--
-- PostgreSQL database dump
--

\restrict ZH7ygYb7dSJaqRhvhuGnU7za1ABK2k5xvyT1nvOu7eSaybgXNn9BxsLVTPRhYh9

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: checkins; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.checkins (
    id bigint NOT NULL,
    user_id bigint,
    location_id bigint,
    checkin_at timestamp with time zone DEFAULT now() NOT NULL,
    checkout_at timestamp with time zone,
    note text,
    user_name text,
    user_category text,
    location_name text,
    tenant_id integer
);


ALTER TABLE public.checkins OWNER TO ernos;

--
-- Name: checkins_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.checkins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.checkins_id_seq OWNER TO ernos;

--
-- Name: checkins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.checkins_id_seq OWNED BY public.checkins.id;


--
-- Name: env_audit_answers; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.env_audit_answers (
    id bigint NOT NULL,
    audit_loc_id bigint,
    question_id bigint,
    answer text,
    comment text,
    tenant_id integer
);


ALTER TABLE public.env_audit_answers OWNER TO ernos;

--
-- Name: env_audit_answers_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.env_audit_answers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.env_audit_answers_id_seq OWNER TO ernos;

--
-- Name: env_audit_answers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.env_audit_answers_id_seq OWNED BY public.env_audit_answers.id;


--
-- Name: env_audit_locations; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.env_audit_locations (
    id bigint NOT NULL,
    audit_id bigint,
    location_id bigint,
    location_name text,
    tenant_id integer
);


ALTER TABLE public.env_audit_locations OWNER TO ernos;

--
-- Name: env_audit_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.env_audit_locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.env_audit_locations_id_seq OWNER TO ernos;

--
-- Name: env_audit_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.env_audit_locations_id_seq OWNED BY public.env_audit_locations.id;


--
-- Name: env_audits; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.env_audits (
    id bigint NOT NULL,
    name text NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    submitted_at timestamp with time zone,
    auditor_id bigint,
    auditor_name text,
    overall_score integer,
    status text,
    tenant_id integer
);


ALTER TABLE public.env_audits OWNER TO ernos;

--
-- Name: env_audits_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.env_audits_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.env_audits_id_seq OWNER TO ernos;

--
-- Name: env_audits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.env_audits_id_seq OWNED BY public.env_audits.id;


--
-- Name: env_questions; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.env_questions (
    id bigint NOT NULL,
    section text NOT NULL,
    text text NOT NULL
);


ALTER TABLE public.env_questions OWNER TO ernos;

--
-- Name: env_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.env_questions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.env_questions_id_seq OWNER TO ernos;

--
-- Name: env_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.env_questions_id_seq OWNED BY public.env_questions.id;


--
-- Name: fire_checks; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.fire_checks (
    id integer NOT NULL,
    location_id integer,
    check_at timestamp with time zone,
    kind text,
    staff_role text,
    note text,
    tenant_id integer
);


ALTER TABLE public.fire_checks OWNER TO ernos;

--
-- Name: fire_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.fire_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fire_checks_id_seq OWNER TO ernos;

--
-- Name: fire_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.fire_checks_id_seq OWNED BY public.fire_checks.id;


--
-- Name: fridge_logs; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.fridge_logs (
    id integer NOT NULL,
    location_id integer,
    taken_at timestamp with time zone,
    temp_c numeric,
    staff_role text,
    tenant_id integer
);


ALTER TABLE public.fridge_logs OWNER TO ernos;

--
-- Name: fridge_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.fridge_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fridge_logs_id_seq OWNER TO ernos;

--
-- Name: fridge_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.fridge_logs_id_seq OWNED BY public.fridge_logs.id;


--
-- Name: housekeeping_checks; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.housekeeping_checks (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    location_id integer,
    location_name text,
    note text,
    by_user_id integer,
    by_user_name text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.housekeeping_checks OWNER TO ernos;

--
-- Name: housekeeping_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.housekeeping_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.housekeeping_checks_id_seq OWNER TO ernos;

--
-- Name: housekeeping_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.housekeeping_checks_id_seq OWNED BY public.housekeeping_checks.id;


--
-- Name: issue_attachments; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.issue_attachments (
    id integer NOT NULL,
    issue_id integer,
    tenant_id integer,
    user_id integer,
    filename text,
    mime text,
    size_bytes integer,
    url text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.issue_attachments OWNER TO ernos;

--
-- Name: issue_attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.issue_attachments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_attachments_id_seq OWNER TO ernos;

--
-- Name: issue_attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.issue_attachments_id_seq OWNED BY public.issue_attachments.id;


--
-- Name: issues; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.issues (
    id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    user_id bigint,
    user_name text,
    location_id bigint,
    location_name text,
    category text,
    text text,
    status text,
    accepted_by bigint,
    accepted_by_name text,
    accepted_at timestamp with time zone,
    maintenance_comment text,
    tenant_id integer,
    resolved_at timestamp with time zone
);


ALTER TABLE public.issues OWNER TO ernos;

--
-- Name: issues_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.issues_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issues_id_seq OWNER TO ernos;

--
-- Name: issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.issues_id_seq OWNED BY public.issues.id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.locations (
    id bigint NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    tenant_id integer
);


ALTER TABLE public.locations OWNER TO ernos;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.locations_id_seq OWNER TO ernos;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: nursing_checks; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.nursing_checks (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    user_id integer,
    location_id integer,
    taken_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.nursing_checks OWNER TO ernos;

--
-- Name: nursing_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.nursing_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nursing_checks_id_seq OWNER TO ernos;

--
-- Name: nursing_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.nursing_checks_id_seq OWNED BY public.nursing_checks.id;


--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.password_resets (
    id integer NOT NULL,
    user_id integer,
    token text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    tenant_id integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.password_resets OWNER TO ernos;

--
-- Name: password_resets_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.password_resets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_resets_id_seq OWNER TO ernos;

--
-- Name: password_resets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.password_resets_id_seq OWNED BY public.password_resets.id;


--
-- Name: push_prefs; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.push_prefs (
    tenant_id integer NOT NULL,
    user_id integer NOT NULL,
    prefs jsonb DEFAULT '{}'::jsonb,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.push_prefs OWNER TO ernos;

--
-- Name: push_subs; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.push_subs (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    user_id integer,
    user_name text,
    category text,
    role text,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    last_seen timestamp with time zone DEFAULT now()
);


ALTER TABLE public.push_subs OWNER TO ernos;

--
-- Name: push_subs_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.push_subs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.push_subs_id_seq OWNER TO ernos;

--
-- Name: push_subs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.push_subs_id_seq OWNED BY public.push_subs.id;


--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.push_subscriptions (
    id integer NOT NULL,
    tenant_id integer,
    user_id integer,
    endpoint text,
    data jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.push_subscriptions OWNER TO ernos;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.push_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.push_subscriptions_id_seq OWNER TO ernos;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.push_subscriptions_id_seq OWNED BY public.push_subscriptions.id;


--
-- Name: qrcodes; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.qrcodes (
    id bigint NOT NULL,
    token text NOT NULL,
    location_id bigint,
    tenant_id integer,
    kind text
);


ALTER TABLE public.qrcodes OWNER TO ernos;

--
-- Name: qrcodes_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.qrcodes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.qrcodes_id_seq OWNER TO ernos;

--
-- Name: qrcodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.qrcodes_id_seq OWNED BY public.qrcodes.id;


--
-- Name: resident_outings; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.resident_outings (
    id integer NOT NULL,
    resident text NOT NULL,
    escort text,
    note text,
    out_at timestamp with time zone,
    in_at timestamp with time zone,
    location_id integer,
    tenant_id integer
);


ALTER TABLE public.resident_outings OWNER TO ernos;

--
-- Name: resident_outings_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.resident_outings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resident_outings_id_seq OWNER TO ernos;

--
-- Name: resident_outings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.resident_outings_id_seq OWNED BY public.resident_outings.id;


--
-- Name: room_checks; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.room_checks (
    id integer NOT NULL,
    tenant_id integer,
    qrcode_token text NOT NULL,
    location_id integer,
    location_name text,
    checked_at timestamp with time zone DEFAULT now() NOT NULL,
    actor_id integer,
    actor_name text
);


ALTER TABLE public.room_checks OWNER TO ernos;

--
-- Name: room_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.room_checks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_checks_id_seq OWNER TO ernos;

--
-- Name: room_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.room_checks_id_seq OWNED BY public.room_checks.id;


--
-- Name: tenant_config; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.tenant_config (
    tenant_id integer NOT NULL,
    data jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.tenant_config OWNER TO ernos;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    slug text
);


ALTER TABLE public.tenants OWNER TO ernos;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tenants_id_seq OWNER TO ernos;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text NOT NULL,
    category text,
    title text,
    tenant_id integer,
    username text NOT NULL,
    active boolean DEFAULT true,
    password_hash text NOT NULL,
    must_change_password boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO ernos;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO ernos;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: visitors; Type: TABLE; Schema: public; Owner: ernos
--

CREATE TABLE public.visitors (
    id bigint NOT NULL,
    primary_name text NOT NULL,
    names text,
    resident text,
    checkin_at timestamp with time zone DEFAULT now() NOT NULL,
    checkout_at timestamp with time zone,
    tenant_id integer,
    signature_png text
);


ALTER TABLE public.visitors OWNER TO ernos;

--
-- Name: visitors_id_seq; Type: SEQUENCE; Schema: public; Owner: ernos
--

CREATE SEQUENCE public.visitors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.visitors_id_seq OWNER TO ernos;

--
-- Name: visitors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ernos
--

ALTER SEQUENCE public.visitors_id_seq OWNED BY public.visitors.id;


--
-- Name: checkins id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.checkins ALTER COLUMN id SET DEFAULT nextval('public.checkins_id_seq'::regclass);


--
-- Name: env_audit_answers id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_answers ALTER COLUMN id SET DEFAULT nextval('public.env_audit_answers_id_seq'::regclass);


--
-- Name: env_audit_locations id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_locations ALTER COLUMN id SET DEFAULT nextval('public.env_audit_locations_id_seq'::regclass);


--
-- Name: env_audits id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audits ALTER COLUMN id SET DEFAULT nextval('public.env_audits_id_seq'::regclass);


--
-- Name: env_questions id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_questions ALTER COLUMN id SET DEFAULT nextval('public.env_questions_id_seq'::regclass);


--
-- Name: fire_checks id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fire_checks ALTER COLUMN id SET DEFAULT nextval('public.fire_checks_id_seq'::regclass);


--
-- Name: fridge_logs id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fridge_logs ALTER COLUMN id SET DEFAULT nextval('public.fridge_logs_id_seq'::regclass);


--
-- Name: housekeeping_checks id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.housekeeping_checks ALTER COLUMN id SET DEFAULT nextval('public.housekeeping_checks_id_seq'::regclass);


--
-- Name: issue_attachments id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issue_attachments ALTER COLUMN id SET DEFAULT nextval('public.issue_attachments_id_seq'::regclass);


--
-- Name: issues id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issues ALTER COLUMN id SET DEFAULT nextval('public.issues_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: nursing_checks id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.nursing_checks ALTER COLUMN id SET DEFAULT nextval('public.nursing_checks_id_seq'::regclass);


--
-- Name: password_resets id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.password_resets ALTER COLUMN id SET DEFAULT nextval('public.password_resets_id_seq'::regclass);


--
-- Name: push_subs id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subs ALTER COLUMN id SET DEFAULT nextval('public.push_subs_id_seq'::regclass);


--
-- Name: push_subscriptions id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.push_subscriptions_id_seq'::regclass);


--
-- Name: qrcodes id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.qrcodes ALTER COLUMN id SET DEFAULT nextval('public.qrcodes_id_seq'::regclass);


--
-- Name: resident_outings id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.resident_outings ALTER COLUMN id SET DEFAULT nextval('public.resident_outings_id_seq'::regclass);


--
-- Name: room_checks id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.room_checks ALTER COLUMN id SET DEFAULT nextval('public.room_checks_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: visitors id; Type: DEFAULT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.visitors ALTER COLUMN id SET DEFAULT nextval('public.visitors_id_seq'::regclass);


--
-- Name: checkins checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_pkey PRIMARY KEY (id);


--
-- Name: env_audit_answers env_audit_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_answers
    ADD CONSTRAINT env_audit_answers_pkey PRIMARY KEY (id);


--
-- Name: env_audit_answers env_audit_answers_unique; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_answers
    ADD CONSTRAINT env_audit_answers_unique UNIQUE (audit_loc_id, question_id);


--
-- Name: env_audit_locations env_audit_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_locations
    ADD CONSTRAINT env_audit_locations_pkey PRIMARY KEY (id);


--
-- Name: env_audits env_audits_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audits
    ADD CONSTRAINT env_audits_pkey PRIMARY KEY (id);


--
-- Name: env_questions env_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_questions
    ADD CONSTRAINT env_questions_pkey PRIMARY KEY (id);


--
-- Name: fire_checks fire_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fire_checks
    ADD CONSTRAINT fire_checks_pkey PRIMARY KEY (id);


--
-- Name: fridge_logs fridge_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fridge_logs
    ADD CONSTRAINT fridge_logs_pkey PRIMARY KEY (id);


--
-- Name: housekeeping_checks housekeeping_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.housekeeping_checks
    ADD CONSTRAINT housekeeping_checks_pkey PRIMARY KEY (id);


--
-- Name: issue_attachments issue_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issue_attachments
    ADD CONSTRAINT issue_attachments_pkey PRIMARY KEY (id);


--
-- Name: issues issues_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: nursing_checks nursing_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.nursing_checks
    ADD CONSTRAINT nursing_checks_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_token_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_token_key UNIQUE (token);


--
-- Name: push_prefs push_prefs_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_prefs
    ADD CONSTRAINT push_prefs_pkey PRIMARY KEY (tenant_id, user_id);


--
-- Name: push_subs push_subs_endpoint_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subs
    ADD CONSTRAINT push_subs_endpoint_key UNIQUE (endpoint);


--
-- Name: push_subs push_subs_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subs
    ADD CONSTRAINT push_subs_pkey PRIMARY KEY (id);


--
-- Name: push_subscriptions push_subscriptions_endpoint_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_endpoint_key UNIQUE (endpoint);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: qrcodes qrcodes_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.qrcodes
    ADD CONSTRAINT qrcodes_pkey PRIMARY KEY (id);


--
-- Name: qrcodes qrcodes_token_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.qrcodes
    ADD CONSTRAINT qrcodes_token_key UNIQUE (token);


--
-- Name: resident_outings resident_outings_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.resident_outings
    ADD CONSTRAINT resident_outings_pkey PRIMARY KEY (id);


--
-- Name: room_checks room_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.room_checks
    ADD CONSTRAINT room_checks_pkey PRIMARY KEY (id);


--
-- Name: tenant_config tenant_config_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.tenant_config
    ADD CONSTRAINT tenant_config_pkey PRIMARY KEY (tenant_id);


--
-- Name: tenants tenants_name_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_name_key UNIQUE (name);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_slug_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_slug_key UNIQUE (slug);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: visitors visitors_pkey; Type: CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_pkey PRIMARY KEY (id);


--
-- Name: idx_checkins_cat; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_checkins_cat ON public.checkins USING btree (user_category);


--
-- Name: idx_checkins_open; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_checkins_open ON public.checkins USING btree (checkout_at) WHERE (checkout_at IS NULL);


--
-- Name: idx_checkins_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_checkins_tenant ON public.checkins USING btree (tenant_id);


--
-- Name: idx_checkins_user_open; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_checkins_user_open ON public.checkins USING btree (user_id, location_id) WHERE (checkout_at IS NULL);


--
-- Name: idx_env_audit_answers_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_env_audit_answers_tenant ON public.env_audit_answers USING btree (tenant_id);


--
-- Name: idx_env_audit_locations_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_env_audit_locations_tenant ON public.env_audit_locations USING btree (tenant_id);


--
-- Name: idx_env_audits_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_env_audits_tenant ON public.env_audits USING btree (tenant_id);


--
-- Name: idx_fire_loc_time; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_fire_loc_time ON public.fire_checks USING btree (location_id, check_at DESC);


--
-- Name: idx_fire_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_fire_tenant ON public.fire_checks USING btree (tenant_id);


--
-- Name: idx_fridge_loc_time; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_fridge_loc_time ON public.fridge_logs USING btree (location_id, taken_at DESC);


--
-- Name: idx_fridge_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_fridge_tenant ON public.fridge_logs USING btree (tenant_id);


--
-- Name: idx_housekeeping_checks_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_housekeeping_checks_tenant ON public.housekeeping_checks USING btree (tenant_id, created_at DESC);


--
-- Name: idx_issue_attachments_issue; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_issue_attachments_issue ON public.issue_attachments USING btree (issue_id);


--
-- Name: idx_issue_attachments_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_issue_attachments_tenant ON public.issue_attachments USING btree (tenant_id);


--
-- Name: idx_issues_status; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_issues_status ON public.issues USING btree (status);


--
-- Name: idx_issues_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_issues_tenant ON public.issues USING btree (tenant_id);


--
-- Name: idx_locations_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_locations_tenant ON public.locations USING btree (tenant_id);


--
-- Name: idx_nursing_checks_tenant_loc; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_nursing_checks_tenant_loc ON public.nursing_checks USING btree (tenant_id, location_id, taken_at DESC);


--
-- Name: idx_password_resets_token; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_password_resets_token ON public.password_resets USING btree (token);


--
-- Name: idx_password_resets_user_expires; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_password_resets_user_expires ON public.password_resets USING btree (user_id, expires_at) WHERE (used_at IS NULL);


--
-- Name: idx_push_subs_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_push_subs_tenant ON public.push_subs USING btree (tenant_id);


--
-- Name: idx_push_subs_tenant_user; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_push_subs_tenant_user ON public.push_subscriptions USING btree (tenant_id, user_id);


--
-- Name: idx_push_subs_user; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_push_subs_user ON public.push_subs USING btree (user_id);


--
-- Name: idx_push_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_push_tenant ON public.push_subscriptions USING btree (tenant_id);


--
-- Name: idx_push_user; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_push_user ON public.push_subscriptions USING btree (user_id);


--
-- Name: idx_qrcodes_loc; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_qrcodes_loc ON public.qrcodes USING btree (location_id);


--
-- Name: idx_qrcodes_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_qrcodes_tenant ON public.qrcodes USING btree (tenant_id);


--
-- Name: idx_res_out_tenant_open; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_res_out_tenant_open ON public.resident_outings USING btree (tenant_id, out_at DESC) WHERE (in_at IS NULL);


--
-- Name: idx_resident_outings_open; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_resident_outings_open ON public.resident_outings USING btree (in_at) WHERE (in_at IS NULL);


--
-- Name: idx_resident_outings_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_resident_outings_tenant ON public.resident_outings USING btree (tenant_id);


--
-- Name: idx_room_checks_tenant_ts; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_room_checks_tenant_ts ON public.room_checks USING btree (tenant_id, checked_at DESC);


--
-- Name: idx_users_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_users_tenant ON public.users USING btree (tenant_id);


--
-- Name: idx_users_tenant_username; Type: INDEX; Schema: public; Owner: ernos
--

CREATE UNIQUE INDEX idx_users_tenant_username ON public.users USING btree (tenant_id, lower(username));


--
-- Name: idx_visitors_open; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_visitors_open ON public.visitors USING btree (checkout_at) WHERE (checkout_at IS NULL);


--
-- Name: idx_visitors_tenant; Type: INDEX; Schema: public; Owner: ernos
--

CREATE INDEX idx_visitors_tenant ON public.visitors USING btree (tenant_id);


--
-- Name: uniq_locations_reception_residents; Type: INDEX; Schema: public; Owner: ernos
--

CREATE UNIQUE INDEX uniq_locations_reception_residents ON public.locations USING btree (tenant_id, upper(name)) WHERE (upper(type) = 'RECEPTION_RESIDENTS'::text);


--
-- Name: uniq_locations_tenant_type_name; Type: INDEX; Schema: public; Owner: ernos
--

CREATE UNIQUE INDEX uniq_locations_tenant_type_name ON public.locations USING btree (tenant_id, type, name);


--
-- Name: ux_push_endpoint; Type: INDEX; Schema: public; Owner: ernos
--

CREATE UNIQUE INDEX ux_push_endpoint ON public.push_subscriptions USING btree (endpoint);


--
-- Name: ux_users_tenant_lcusername; Type: INDEX; Schema: public; Owner: ernos
--

CREATE UNIQUE INDEX ux_users_tenant_lcusername ON public.users USING btree (tenant_id, lower(username));


--
-- Name: checkins checkins_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: checkins checkins_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: checkins checkins_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: env_audit_answers env_audit_answers_audit_loc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_answers
    ADD CONSTRAINT env_audit_answers_audit_loc_id_fkey FOREIGN KEY (audit_loc_id) REFERENCES public.env_audit_locations(id) ON DELETE CASCADE;


--
-- Name: env_audit_answers env_audit_answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_answers
    ADD CONSTRAINT env_audit_answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.env_questions(id) ON DELETE SET NULL;


--
-- Name: env_audit_answers env_audit_answers_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_answers
    ADD CONSTRAINT env_audit_answers_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: env_audit_locations env_audit_locations_audit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_locations
    ADD CONSTRAINT env_audit_locations_audit_id_fkey FOREIGN KEY (audit_id) REFERENCES public.env_audits(id) ON DELETE CASCADE;


--
-- Name: env_audit_locations env_audit_locations_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_locations
    ADD CONSTRAINT env_audit_locations_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: env_audit_locations env_audit_locations_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audit_locations
    ADD CONSTRAINT env_audit_locations_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: env_audits env_audits_auditor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audits
    ADD CONSTRAINT env_audits_auditor_id_fkey FOREIGN KEY (auditor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: env_audits env_audits_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.env_audits
    ADD CONSTRAINT env_audits_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: fire_checks fire_checks_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fire_checks
    ADD CONSTRAINT fire_checks_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: fire_checks fire_checks_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fire_checks
    ADD CONSTRAINT fire_checks_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: fridge_logs fridge_logs_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fridge_logs
    ADD CONSTRAINT fridge_logs_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: fridge_logs fridge_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.fridge_logs
    ADD CONSTRAINT fridge_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: issue_attachments issue_attachments_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issue_attachments
    ADD CONSTRAINT issue_attachments_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: issue_attachments issue_attachments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issue_attachments
    ADD CONSTRAINT issue_attachments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: issues issues_accepted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_accepted_by_fkey FOREIGN KEY (accepted_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: issues issues_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: issues issues_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: issues issues_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: locations locations_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: password_resets password_resets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: push_subscriptions push_subscriptions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: push_subscriptions push_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: qrcodes qrcodes_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.qrcodes
    ADD CONSTRAINT qrcodes_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: qrcodes qrcodes_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.qrcodes
    ADD CONSTRAINT qrcodes_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: resident_outings resident_outings_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.resident_outings
    ADD CONSTRAINT resident_outings_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: resident_outings resident_outings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.resident_outings
    ADD CONSTRAINT resident_outings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: room_checks room_checks_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.room_checks
    ADD CONSTRAINT room_checks_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: room_checks room_checks_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.room_checks
    ADD CONSTRAINT room_checks_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: room_checks room_checks_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.room_checks
    ADD CONSTRAINT room_checks_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: tenant_config tenant_config_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.tenant_config
    ADD CONSTRAINT tenant_config_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: visitors visitors_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ernos
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZH7ygYb7dSJaqRhvhuGnU7za1ABK2k5xvyT1nvOu7eSaybgXNn9BxsLVTPRhYh9

